---
apiVersion: v1
kind: Secret
metadata:
  name: where-for-dinner-ui.tanzu.vmware.com.default.tap-values
stringData:
  values.yml: |
    ---
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      runAsNonRoot: false
      runAsUser: 1000
      seccompProfile:
        type: RuntimeDefault